.chat__screen
  display: flex
  flex-direction: column
  padding: 2%
  position: relative
  box-sizing: border-box
  margin-bottom: 100px
  &__first-message__arrow
    margin: 0
    padding: 0
    margin-top: 50px
    width: 200px
    height: 5vh
    transform: rotate(170deg)
    svg
      animation: fromDarkToDarkerGreen 500ms ease-in-out infinite alternate
      fill: var(--dark)
  &__first-message__info
    margin: 0
.chat__message__group
  .chat__message__info
    display: inline-block
    background: var(--darker-green)
    color: var(--light)
    margin-top: 10px
    border-radius: 36px 36px 36px 0
    box-sizing: border-box
    max-width: 90%
    padding: 0 25px
    position: relative
    .chat__message
      margin: 10px 0
  .chat__translation__info
    position: relative
    color: var(--dark)
    font-size: 10px
    margin: 0
  .chat__message__name
    font-weight: 700
    font-size: 16px
    margin: 0
.chat__message__group--self
  align-self: flex-end
  .chat__message__info
    border-radius: 36px 36px 0 36px
    float: right
  .chat__message__name
    margin-top: 10px
    text-align: right

@keyframes fromDarkToDarkerGreen
  from
    fill: var(--dark)
  to
    fill: var(--darker-green)